body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6px;
    color: rgb(255, 255, 255);
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background: center no-repeat;
    background-size: cover;
}

.intro__title{
    color: #FFF;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__inner {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.intro__search {
    margin-top: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* Search */

.search__form {
    margin-top: 20px;
    border: 1px solid #ffffff;
    display: inline-flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #FFF;
}

.search__button {
    border:none;
    background-color: transparent;
}

.search__img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.search__txt {
    border:none;
    width: 400px;
    outline: none;
    font-size: 20px;
    padding-right: 10px;
    background-color: transparent;
}

/* Header */

.header {
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
    background-color: rgb(0, 4, 16);
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color:#FFF;
    margin-left: 50px;
}

.header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 30px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #FFF;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:hover {
    color: rgb(83, 83, 83);
}

/* Section */

.section {
    justify-content: center;
    padding: 40px 0;
    color: black;
    background-color: rgb(0, 0, 19);
}

.section__header{
    width: 100%;
    margin: 0 auto 40px;
    max-width: 950px;
    text-align: center;
    font-size: 18px;
    line-height: 1;
}

.section__uppertitle {
    margin-top: 0;
    font-size: 34px;
    color: rgb(35, 90, 255);
}

.section__bottomtitle {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.section__text {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

/* Footer */

footer {
    padding: 10px;
    height: 60px;
    background-color: black;
    text-align: center;
}

.footer__text {
    font-size: 12px;
    margin-top: 14px;
    color: #FFF;
}

/* Table */
tr{
    height: 15px;
}